:root{
--bgc-black:#121212;
--bgc-charcoal:#1F1F1F;
--bgc-light:#f8f8f8;

--text-primary: #ffffff;
--text-secondary: #1f1f1f;
--text-highlight: #e5c07B;

--btn-primary: #bfa36f;
--btn-primary-hover:#a3895c;

--btn-secondary: #2e86AB;
--btn-secondary-hover: #245E78;

--accent-gold: #CFAE70;
--accent-navy: #1c2e40;
--accent-silver: #d9d9d9;
}
body{
    background-color: var(--accent-navy);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
 h1, h2, h3, h4, h5{
    color: var(--text-highlight);
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

.item-cart-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px; 
    border: goldenrod 2px solid;
    border-radius: 10px;
    height: calc(100vh - 120px);
    background-image: linear-gradient(var(--accent-gold), var(--accent-silver));
}
.item-cart-display-area{
    background-image: linear-gradient(var(--text-primary), var(--accent-silver));
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin :1px;
    border-radius: 5px;
    border: rgb(5, 5, 58) 3px solid;
}
.item-cart-display-area button{
    background-color: var(--btn-primary);
}
.item-cart-totals{
    border: 3px solid rgb(5, 5, 58);
    padding: 20px;
    border-radius: 5px;
}
.item-cart-totals span{
    margin-bottom:4px;
    padding: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(149, 113, 24);
    display: block;
    text-align: left;
}

.item-cart-tax, .item-cart-subtotal, .item-cart-total{
    display: block;
    padding-left: 6px;
    border-radius: 5px;
    border: 2px solid goldenrod;
    font-size: 1.1rem;
    height: 36px;
    width: 90%;
    margin-bottom: 16px;
}   
.item-cart-cart{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 3px solid rgb(5, 5, 58);
    background-image: linear-gradient(var(--text-primary), var(--accent-silver));
    padding: 10px;
    margin :1px;
    border-radius: 5px;
    overflow-y: auto;
}
.item-cart-cart h3{
    text-align: left;
    margin-top: -10px;
    color: var(--text-highlight);
    text-decoration: underline;
    padding: 0px;
}
.item-cart-cart h6{
    text-align: left;
    margin-top: -10px;
    color: var(--text-highlight);
    padding: 0px;
}
.item-cart-display-box{
    width: 95%;
    height: 25px;
    border: 2px solid goldenrod;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    padding: 2px;
}
.item-cart-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.row button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    color: goldenrod;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    background-color:#bfa36f;
}*/
.item-cart-row button:hover{
    background-color: var(--btn-primary-hover);
    transform: scale(1.05);
}
.item-cart-row button:active{
    background-color: rgb(180,140,4);
    transform: scale(0.98);
}

.item-cart-container button{
    height: 3rem;
    width: 1rem;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor:pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
    border: var(--accent-gold) solid 2px;
    background-color: gray;
    color: var(--text-primary);
    justify-content: center;
}
    
.item-cart-payment{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border: 3px solid rgb(5, 5, 58);
    border-radius: 5px;
    margin :1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    align-content: center;
}
.item-cart-payment button{
    height: 4rem;
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
    font-size: .9rem;
    margin: .2rem;
    justify-content: center;
    text-align: center;
}
.item-cart-search{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid goldenrod;
    border-radius: 4px;
}
.item-cart-div4 { grid-area: 5 / 1 / 6 / 6; }

.cart-message{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d4edda;
    color: #155724;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #6e8436;
    border-radius: 5px;
    z-index: 1000;
    opacity: 1;
}

.item-box{
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: #c0d21b;
    background-color: var(--btn-secondary);
    transition: all 0.2s ease;
    
}

.item-box:hover{
    background-color: var(--btn-secondary-hover);
    transform: scale(1.03);
}

.item-cart-products{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}

.item-cart-cart {
    overflow-y: auto;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
    z-index: 2000;
}

.popup-box{
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
    min-width: 380px;
    animation: fadeIn 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-options{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.dropdown{
    padding: 10px;
    font-size: 1.1rem;
    border: 2px solid goldenrod;
    border-radius: 8px;
    background: #f8f8f8;
    color: black;
    min-width: 130px;
    cursor: pointer;
}

.variant-add-button,
.close-button{
    padding: 12px 24px;
    min-width: 140px;
    height: 48px;
    font-size: 1.1rem;
    border-radius: 6px;
    display: inline-block;
    border: 2px solid var(--accent-gold);
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    line-height: normal;
}

.variant-add-button{
    background: #245E78;
    color: white;
}

.variant-add-button:hover{
    background: #1b4aa5;
}

.close-button{
    background: #0e2a63;
    color: white;
}

.close-button:hover{
    background: #618feb;
}

.popup-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 12px;
}

.cart-header,
.cart-row{
    display: grid;
    grid-template-columns: 1fr 0.6fr 0.6fr 0.6fr 0.3fr;
    gap: 6px;
    align-items: center;
    padding: 4px 0;
}

.cart-header {
    font-weight: bold;
    color: var(--text-highlight);
    border-bottom: 2px solid var(--accent-gold);
    margin-bottom: 8px;
}

.cart-list{
    height: calc(100% - 60px);
    overflow-y: auto;
}

.remove-button{
    background-color: #a11;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 0.75rem;
    width: 30px;
    text-align: center;
}

.remove-button:hover{
    background-color: #d33;
}

.cart-row span,
.cart-header span {
    color: black;
    font-weight: 600;
}

.right-column{
    grid-column: 3 /4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    align-items: stretch;
}

@keyframes fadeIn {
    from {opacity: 0; transform: scale (0.95);}
    to {opacity: 1; transform: scale(1);}
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cartnavDiv {
    position: absolute;
    top: 625px;
    left: 0px;
}
.cartnavDiv button{
    font-size: 30px;
    background: none;
    border: solid 1px var(--text-primary);
    color: var(--text-primary);
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    display: inline-block;
}
.cartnavMenu button{
    font-size: 20px;
    background-color: var(--bgc-charcoal);
    color: var(--text-primary);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 90px;
    height: 90px;
    text-align: left;
}