:root{
--bgc-black:#121212;
--bgc-charcoal:#1F1F1F;
--bgc-light:#f8f8f8;

--text-primary: #ffffff;
--text-secondary: #1f1f1f;
--text-highlight: #e5c07B;

--btn-primary: #bfa36f;
--btn-primary-hover:#a3895c;

--btn-secondary: #2e86AB;
--btn-secondary-hover: #245E78;

--accent-gold: #CFAE70;
--accent-navy: #1c2e40;
--accent-silver: #d9d9d9;
}
body{
    background-color: var(--accent-navy);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
 h1, h2, h3, h4, h5{
    color: var(--text-highlight);
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

.item-cart-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    justify-content: space-between;
    padding: 20px; 
    border: goldenrod 2px solid;
    border-radius: 10px;
    height: 80vh;
    background-image: linear-gradient(var(--accent-gold), var(--accent-silver));
}
.item-cart-cart{
    grid-area: 1 / 1 /4 / 5;
    margin-right: 20px;
    border: rgb(5, 5, 58) 3px solid;
}
.item-cart-totals{
    grid-area: 1/5/2/7;
    border: 3px solid rgb(5, 5, 58);
    padding: 20px;
    height: 2fr;
}
.item-cart-totals span{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(149, 113, 24);
    display: inline;
}

.item-cart-tax, .item-cart-subtotal, .item-cart-total{
    float: right;
    padding: 0px;
    border-radius: 5px;
    display: inline;
    border: 2px solid goldenrod;
    width: 70%;
}   
.item-cart-Keypad{
    grid-area: 2/5/3/7;
    border: 3px solid rgb(5, 5, 58);
    padding: 10px;
    height: fit-content;
    margin :1px;
}
.item-cart-display-box{
    width: 95%;
    height: 25px;
    border: 2px solid goldenrod;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    padding: 2px;
}
.item-cart-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.row button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    color: goldenrod;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    background-color:#bfa36f;
}*/
.item-cart-row button:hover{
    background-color: var(--btn-primary-hover);
    transform: scale(1.05);
}
.item-cart-row button:active{
    background-color: rgb(180,140,4);
    transform: scale(0.98);
}
.item-cart-container button{
    height: 3rem;
    width: 1rem;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor:pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
    border: var(--accent-gold) solid 2px;
    background-color: gray;
    color: var(--text-primary);
    justify-content: center;
}
.item-cart-payment{
    grid-area: 4 / 1 / 5 / 7;
    border: 3px solid rgb(5, 5, 58);
    padding: 10px;
    text-align: left;
    justify-content: center;

}
.item-cart-payment button{
    height: 3rem;
    width: 8rem;  
}
.item-cart-search{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid goldenrod;
    border-radius: 4px;
}
.item-cart-div4 { grid-area: 5 / 1 / 6 / 6; }
