:root{
--bgc-black:#121212;
--bgc-charcoal:#1F1F1F;
--bgc-light:#f8f8f8;

--text-primary: #ffffff;
--text-secondary: #1f1f1f;
--text-highlight: #e5c07B;

--btn-primary: #bfa36f;
--btn-primary-hover:#a3895c;

--btn-secondary: #2e86AB;
--btn-secondary-hover: #245E78;

--accent-gold: #CFAE70;
--accent-navy: #1c2e40;
--accent-silver: #d9d9d9;
}
body{
     background-color: var(--accent-navy);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
 h1, h2, h3, h4, h5{
    color: var(--text-highlight);
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}
button span{
    display: block;
    color: rgb(149, 113, 24);
}
button {
    height: 120px;
    width: 120px;
    border: none;
    border-radius: 10px;
    color: var(--btn-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}
button img{
  height: 60px;
  width: 60px;
  margin-bottom: 5px;
}
button:hover{
    background-color: var(--btn-primary-hover);
    transform: scale(1.05);
}
button:active{
    background-color: rgb(180,140,40);
    transform: scale(0.98);
}
.menu{
    border: 2px solid goldenrod;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 150px;
    background-image: linear-gradient(var(--accent-gold), var(--accent-silver));
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navDiv {
  position: absolute;
    top: 15px;
    left: 0px;
}
.navDiv button{
    font-size: 30px;
    background: none;
    border: solid 1px var(--text-primary);
    color: var(--text-primary);
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 5px;
}
.navMenu button{
    font-size: 20px;
    background-color: var(--bgc-charcoal);
    color: var(--text-primary);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 90px;
    height: 90px;
    text-align: left;
}