:root{
--bgc-black:#121212;
--bgc-charcoal:#1F1F1F;
--bgc-light:#f8f8f8;

--text-primary: #ffffff;
--text-secondary: #1f1f1f;
--text-highlight: #e5c07B;

--btn-primary: #bfa36f;
--btn-primary-hover:#a3895c;

--btn-secondary: #2e86AB;
--btn-secondary-hover: #245E78;

--accent-gold: #CFAE70;
--accent-navy: #1c2e40;
--accent-silver: #d9d9d9;
}
h1{
    color: var(--text-highlight);
    display: block;
    text-align: center;
    margin-bottom:20px ;
}
body{
    background-color: var(--accent-navy);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
}
form{
    background-image: linear-gradient(var(--accent-gold), var(--accent-silver));
    padding: 20px;
    border: 2px solid goldenrod;
    border-radius: 8px;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type="text"],input[type="password"]{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid lightgray;   
}
input[type="submit"]{
    background-color: var(--btn-primary);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: var(--btn-primary-hover)
}